.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
test/
__pycache__/
HISTORY.txt
README.txt
*.log
audio_input.txt
*.json
*.srt
*.pkl
.env
*.aac
*.wav
*.mp3
*.flac